<%= form_for(@analyst) do |f| %>
  <% if @analyst.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@analyst.errors.count, "error") %> prohibited this analyst from being saved:</h2>

      <ul>
      <% @analyst.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
