<div class="panel panel-default">
  <div class="panel-heading"><h1><%= CurrentExercise.first.name %> Themes</h1></div>
  <div class="panel-body">
    <div id="themes">
      <% @exercise.themes.each do |theme| %>
          <div class="panel panel-default">
            <div class="panel-heading">Theme: <%= theme.name %></div>
            <div class="panel-body">
              <%= theme.notes %>
            </div>
          </div>
          <br/>
      <% end %>
    </div>
  </div>
</div>
<div style="text-align: center">
  <%= link_to edit_theme_path(@exercise), :class => "btn btn-primary" do %><span style="color: #FFFFFF"><i class="glyphicon glyphicon-pencil"></i> Edit</span><% end %>
</div>


