<h1>Edit User</h1>

<%= render 'form' %>

<%= link_to 'Show', @mct %>
<% if current_mct.role == 'admin' %>
    <%= link_to 'Back', mcts_path %>
<% else %>
    <%= link_to 'Back', homes_path %>
<% end %>

