<h1>New User</h1>

<%= render 'form' %>

<% if mct_signed_in? %>
    <% if current_mct.role == 'admin' %>
        <%= link_to 'Back', mcts_path %>
    <% else %>
        <%= link_to 'Back', homes_path %>
    <% end %>
<% end %>
