<script>
  $(document).ready(function() {
    $('#calendar').fullCalendar({
      events: '/events.json',
      textColor: 'white',
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      }
      });
  });
</script>

<div id='calendar' style="float: none; margin: 0 auto; text-align: center; width: 50%"></div>