<script>
  $(document).ready(function() {
    $('#calendar').fullCalendar({
      events: '/events.json',
      textColor: 'white'
      });
  });
</script>

<div id='calendar' style="float: none; margin: 0 auto; text-align: center; width: 50%"></div>