<script>
  $(document).ready(function() {
    $('#calendar').fullCalendar({
      events: '/events.json',
      textColor: 'white'
      });
  });
</script>

<div id='calendar' style="text-align: center; width: 400px"></div>