<script>
  $(document).ready(function() {
    $('#calendar').fullCalendar({
      url: '/events.json',
      height: 200,
      textColor: 'white'
      aspectRatio: 1.35
      });
  });
</script>

<div id='calendar' style="text-align: center"></div>