<script>
  $(document).ready(function() {
    $('#calendar').fullCalendar({
      events: '/events.json',
      height: 200,
      textColor: 'white'
      });
  });
</script>

<div id='calendar'></div>