<h1>Current Exercise</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @current_exercises.each do |current_exercise| %>
      <tr>
        <td><%= current_exercise.name %></td>
        <td><%= link_to 'Change', edit_current_exercise_path(current_exercise) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

