
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h1>Mission Command Toolkit</h1></div>
  <div class="panel-body">
    <h2> Current Exercise: <%= CurrentExercise.first.name %></h2>
	<br/>
	<h3>Announcements:</h3>
	<br/>
	<h3>Exercise Calendar:</h3>
	<div class="container" style="float: none; margin: 0 auto;">
	    <%= render 'events/cal' %>
	</div>
	
  </div>
</div>