    <div class="nested-fields panel panel-default" style="width: 95%; margin-left: auto; margin-right: auto">
      <div class="field panel-body">
        <%= f.label text='Objective: ' %>
        <%= f.text_field :cto, style: 'width: 85%' %>
        <%= link_to_remove_association f, :class => "btn btn-xxs btn-danger" do %><i class="glyphicon glyphicon-trash"></i><% end %>
      </div>
    </div>

