<div class="nested-fields">
  <% f.object.build_unit %>
  <div class="field">
    <%= f.label :unit_name %>
    <br/>
    <%= f.text_field :unit_name %>
  </div>
  
  <%= link_to_remove_association "Remove unit", f %>
</div>